.price__element
  position: relative
  background-color: #FFFFFF
  height: 200px !important
  box-sizing: border-box
  border-radius: 5px
  display: flex !important
  flex-direction: column
  padding: 16px
  gap: 16px
  font-size: 14px
  line-height: 18px
  letter-spacing: 0.2px