.price__button
  padding: 0 0 0 12px 
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 12px
  line-height: 24px
  letter-spacing: -0.15px
  font-weight: 700
  color: $bg-white
  position: absolute
  bottom: 16px
  right: 16px
  border: none
  background-color: $btn-pink
  width: 119px
  height: 32px
  border-radius: 16px
  background-image: url(../images/goside.svg)
  background-repeat: no-repeat
  background-position: center right 8px
  cursor: pointer
  transition: transform .3s
  will-change: transform
  &:hover
    transform: scale(1.05)
  &:active
    transform: scale(1)

@media screen and (min-width: 880px)
  .price__button
    right: 24px